@{
    ViewBag.Title = "Egne oplysninger";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Navn</h3>

<payslip>
    Liste over lønsedler <br />
</payslip>

<contract>
    Kontrakter for  @ViewBag.Navn <br />
    @ViewBag.mm <br />
</contract>


